section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
section .container{
    width: 50%;
    height: auto;
    padding: 3rem;
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
section div img{
    width: 40%;
}
section div form{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
section div p{
    font-size: calc(1rem + 1vw);
    color: black;
}
section div form p{
    font-size: calc(0.8rem + 1vw);
    color: darkslategray;
}
section div form label{
    font-size: calc(0.3rem + 1vw);
    margin-top: 1vh;
}
section div form input{
    width: 100%;
    min-height: 5vh;
    max-height: 5vh;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    margin-bottom: 2vh;
}
section div form a{
    margin: 0 auto;
    margin-top: 5%;
}
section div form select{
    width: 100%;
    min-height: 5vh;
    max-height: 5vh;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    margin-bottom: 2vh;
}
section div form input:active, input:focus{
    width: 100%;
    min-height: 5vh;
    max-height: 5vh;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    margin-bottom: 2vh;
}
button{
    margin: 0 auto;
    width: 200px;
    margin-top: 8%;
    padding: 1.2em 3em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
button:active {
    transform: translateY(-1px);
}



/* ------------------ */

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

  #div_erros_login {
    margin-top: 15px;
  }
  
  .alerta_erro{
    display: flex;
    justify-content: flex-start;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border: red 3px solid;
    padding: 10px;
    margin-right: 10%;
    margin: 0 auto;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }